/* =========Home============= */
/* #Mapadiv {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 3.5%;
  width: 95% !important;
} */
#Hero {
  background-color: rgb(160, 158, 158);
  width: 100%;
  height: 1000px;
  max-height: 50vh;
  font-family: 'Kalam', cursive;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/hero1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.809);
}

#titleHero {
  font-size: 180px;
  margin-top: 104px;
}

/* #DivCMap {
  background-color: rgba(26, 49, 54, 0.966);
  width: 96%;
  margin-top: 5%;
  padding-top: 1px;
  height: 850px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 22px;
} */
#DivCard_Home {
  bottom: 0px;
  padding-top: 10%;
  margin-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background-color: #044844ea;
  box-shadow: 0 1em 1em 1em black;
  padding-bottom: 2%;
  
}

@media (max-width: 1900px) and (orientation: landscape) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 1490px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 400px solid rgba(57, 212, 223, 0.66);
    float: right;
    z-index: 1;
  }
}

@media (max-width: 1048px) {
  /* #Hero {
    background-color: rgb(160, 158, 158);
    width: 100%;
    height: 900px;
    max-height: 50vh;
    background-image: url(../../assets/hero1.jpg);
    font-family: 'Kalam', cursive;
    background-image: url(../../assets/hero1.jpg);
    background-size: cover;
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.809);
  } */
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 1565px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 400px solid rgba(35, 226, 204, 0.66);
    float: right;
    z-index: 1;
  }
}

@media (max-width: 948px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 904px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 304px solid rgba(35, 226, 204, 0.66);
    float: right;
    z-index: 1;
  }
  .RedondPt2 {
    margin: auto;
    border-radius: 360px;
    width: 150px;
    height: 150px;
    background-color: gray;
    margin-top: 2%;
    margin-bottom: 2%;
 
}
#titleHero {
  font-size: 140px;
  margin-top: 84px;
}

@media (max-width: 700px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 790px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 250px solid rgba(35, 226, 204, 0.66);
    float: right;
    z-index: 1;
  }
  .RedondPt2 {
    margin: auto;
    border-radius: 360px;
    width: 150px;
    height: 150px;
    background-color: gray;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 500px) {
  /* #Hero {
    background-color: rgb(160, 158, 158);
    width: 100%;
    height: 200px;
    /* max-height: 20vh; */
  /* background-image: url(../../assets/hero3.jpg);
    max-height: 20vh;
    font-family: 'Kalam', cursive;
    background-image: url(../../assets/hero1.jpg);
    background-size: cover;
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1em 1em rgba(19, 18, 18, 0.809);
  }
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 150px solid rgba(35, 226, 204, 0.66);
    float: right;
    z-index: 1;
  }
  /* #Hero {
    background-color: rgb(160, 158, 158);
    width: 100%;
    height: 500;
    max-height: 50vh;
    background-image: url(../../assets/hero1.jpg);
    background-size: cover;
    background-size: 50vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.809);
  }

  #titleHero {
    font-size: 60px;
    margin-top: 84px;
  }
}

.RedondPt2 {
  margin: auto;
  border-radius: 360px;
  width: 300px;
  height: 300px;
  background-color: gray;
  margin-top: 2%;
  margin-bottom: 2%;
}
.col-HomeCardPapel {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px rgba(40, 40, 228, 0.877);
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.col-HomeCardPlastico {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px rgba(224, 0, 0, 0.904);
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.col-HomeCardVidro {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px rgba(23, 150, 23, 0.747);
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.col-HomeCardMetal {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px rgba(251, 255, 23, 0.897);
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.col-HomeCardOrganico {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px rgba(82, 14, 14, 0.973);
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.col-HomeCardEletronico {

.col-HomeCard {
  background-color: white;
  margin-right: 0.5%;
  padding: 12px;
  border-radius: 12px;
  border: solid 3px gray;
  margin-top: 5%;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.63);
}

.DivImgLixoPapel {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px  rgba(40, 40, 228, 0.877);
}

.DivImgLixoPlastico {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px rgba(224, 0, 0, 0.904);
}

.DivImgLixoVidro {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px rgba(23, 150, 23, 0.747);
}

.DivImgLixoMetal {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px rgba(251, 255, 23, 0.897);
}

.DivImgLixoEletronico {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px gray;
}

.DivImgLixoOrganico {
  height: 200px;
  width: 60%;
  border-radius: 12px;
  background-color: gray;
  margin: auto;
  margin-bottom: 30px;
  border: solid 2px rgba(82, 14, 14, 0.973);
}

#DivIlustracaoHome {
  background-image: url(../../assets/Ilust.png) !important;
  z-index: 2;
  background-size: cover;
  width: 90%;
  height: 600px;
  margin: auto;
}
