/* =========Home============= */
#Mapadiv {
  margin-top: 10%;
  height: 800px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(34, 32, 32);
  border-radius: 20px;
  position: inherit;
  justify-content: center;
  align-items: center;
}
#Hero {
  background-color: rgb(160, 158, 158);
  width: 100%;
  height: 400px;
  background-image: url(../../assets/projetoHero.jpg);
  box-shadow: 0px 0px 0px 3px rgba(20, 20, 20, 0.626);
}
#DivCard_Home {
  bottom: 0px;
  padding-top: 20px;
  margin-top: 20%;
  width: 100%;
  height: 900px;
  background-color: rgba(37, 83, 80, 0.918);
  /* border-radius: 190px 190px 0px 0px; */
  /* background-image: url(../../assets/IlustraçãoFreepik.png); */
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 1690px 500px;
}
#Triangulo {
  width: 0;
  height: 0;
  border-left: 1565px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid rgba(58, 165, 58, 0.857);
  float: right;
}
@media (max-width: 1048px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 1565px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 400px solid rgba(58, 165, 58, 0.857);
    float: right;
  }
}
@media (max-width: 948px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 904px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 304px solid rgba(58, 165, 58, 0.857);
    float: right;
  }
}
@media (max-width: 700px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 790px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 250px solid rgba(58, 165, 58, 0.857);
    float: right;
  }
}
@media (max-width: 500px) {
  #Triangulo {
    width: 0;
    height: 0;
    border-left: 600px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 150px solid rgba(58, 165, 58, 0.857);
    float: right;
  }
}
#CardDent {
  display: grid;
}
#divBottons {
  background-color: rgb(179, 179, 179);
  height: 90px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
