.CardPartc1 {
  text-align: justify;
}

.col-SobreCard {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 16px 10px rgba(0,0,0,0.26); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 16px 10px rgba(0,0,0,0.26);
  padding: 12px;
  border: 2px solid gray;
  border-radius: 12px;
  height: 100%;
  min-height: 800px;
}

.CardFoto {
  margin: auto;
  background-color: gray;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 300px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 12px;
}

.CardTexto {
  padding: 12px;
  text-align: justify;
}

.Col-CardOrientador {
  box-shadow: 1em 1em 3em black;
  padding: 12px;
  border: 2px solid gray;
  border-radius: 12px;
  width: 100%;
}
