.CardPartc1 {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}

.col-SobreCard {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 16px 10px rgba(0,0,0,0.26); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 16px 10px rgba(0,0,0,0.26);
  padding: 12px;
  border: 2px solid teal;
  border-radius: 12px;
  height: 100%;
  min-height: 800px;
  margin-bottom: 5%;
}

.CardFoto {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 310px;
  height: 310px;
  border: 10px inset teal;
  border-radius: 360px;
}

.CardTexto {
  padding: 12px;
  text-align: justify;
}

.Col-CardOrientador {
  box-shadow: 1em 1em 3em black;
  padding: 12px;
  border: 2px solid gray;
  border-radius: 12px;
  width: 100%;
}

.p-Sobre {
  text-align: justify;
}

.DivImgAlexandre {
  background-image: url(../../assets/perfil\ alexandre.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgCamile {
  background-image: url(../../assets/perfil\ camile.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgFabio {
  background-image: url(../../assets/perfil\ fabio.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgJoaoP {
  background-image: url(../../assets/perfil\ joao.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgLuan {
  background-image: url(../../assets/perfil\ luan.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgLuiz {
  background-image: url(../../assets/perfil\ luis.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgMaromo {
  background-image: url(../../assets/perfil\ maromo.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.DivImgSimone{
  background-color: rgb(202, 198, 198);
  width: 100%;
  height: 100%;
  border-radius: 360px;
}
#Redsoc-Sobre {
  border-radius: 12px;
  width: 80%;
  height: 90px;
}

.a_sobre {
  font-size: 35pt;
  color: inherit;
}

.redes_cardSobre {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  bottom: 0;
  display: inline-block;
  text-align: center; 
  width: 40%;
  padding-bottom: 0;
  margin-bottom: 12px;
}

#redes_sobreAlexandre {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 13%;
  bottom: 0;
  display: inline-block;
  text-align: center; 
  width: 40%;
  padding-bottom: 0;
}

.redes_sobreLuanLuiz {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 24%;
  bottom: 0;
  display: inline-block;
  text-align: center; 
  width: 40%;
  padding-bottom: 0;
}

.redes_cardSobreMaromo {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 24%;
  bottom: 0;
  display: inline-block;
  text-align: center; 
  width: 40%;
  padding-bottom: 0;
}

