p {
  font-family: "Poppins", sans-serif;
  font-size: 13pt;
}

.graf {
  box-shadow: 2em 2em rgba(184, 188, 189, 0.898);
  margin-bottom: 5%;
  background: rgb(56, 53, 53);
  color: white;
  border-radius: 12px;
}

.grafico {
  width: 100%;
}

.chart {
  justify-content: center;
  align-self: center;
}

.text-grafico {
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 15px;
  width: 100%;
  text-align: justify;
  font-weight: bold;
}

.text-chart {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  width: 100%;
  text-align: justify;
  font-weight: bold;
}

.text-mid {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 75px;
}

.vl {
  border-left: 8px solid rgb(8, 122, 140);
}

.dicas {
  /* position: absolute; */
  background-color: rgb(0, 51, 51);
  width: 100%;
  padding-top: 10px;
  bottom: 0px;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.col-9 {
  background-color: white;
  display: inline-block;
}

.div-img {
  background-color: white;
  height: 245px;
}

.img-dica {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hr {
  /* width: 80%; */
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.more-text {
  /* background-color: white; */
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: -60px;
}

.more-text:before {
  transition: visibility 0.45s 0.45s, opacity 0.45s linear;
}

.text-dicas {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.25s ease-out;
  transform: scale(1);
  background-color: white;
  height: 100px;
  position: relative;
}

.text-dicas {
  /* z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  background-color: white;
  /* transform-origin: 0 0;
  transition: all 0.25s ease-out; */
}

/* .text-dicas:hover:before {
  transition: all 0.25s ease-out;
  z-index: 9999;
  transform: scaleY(1.5);
}

.text-dicas:hover .more-text {
  transition: opacity 0.45s linear;
  /* background-color:rgba(255, 255, 255, 1); */
  /* z-index: 9999;
  visibility: visible;
  opacity: 1;
  top: -60px;
} */ 
.divgraficPie {
  height: 600px;
  width: 100%;
}

.tituloRM {
  margin-left: 5%;
  margin-bottom: 2%;
}

.listaPro{
  list-style-type: disc;
  list-style: disc;
  margin-bottom: 1%;
  list-style-position: inside;
}

.p_dicasPLM {
  text-align: left;
}

ul {
  list-style: square;
  list-style-type: square;
  list-style-position: inside;
}
