main {
  margin-top: 2em;
}

.divBarChart {
  background-color: #3a3d3a;
  color: #fff;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4%;
  padding: 5% 5% 5% 5%;
  box-shadow: 2em 2em rgb(193, 191, 191);
}

.divTexto {
  margin-top: 1em;
}

.linha {
  width: 90%;
  height: 0.08em;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #3a3d3a;
}

.divPieChart {
  background-color: #3a3d3a;
  color: #fff;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4%;
  margin-top: 4%;
  padding: 5% 5% 5% 5%;
  box-shadow: 2em 2em rgb(193, 191, 191);
}

.textos {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.3em;
}

.sectionCards {
  width: 100%;
  background-color: #28525b;
}
