* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;

  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
}
.geral {
  min-height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Div-btn {
  float: left;
}
.mr-auto {
  padding-left: 45px !important;
  height: 45px;
  position: sticky;
}

.header {
  position: fixed;
  /* margin-bottom: 60px; */
  padding-bottom: 0px;
  width: 100%;
}

section {
  padding-top: 90px;
  height: 100%;
}

@media (max-width: 1048px) {
  section {
    padding-top: 90px;
    height: 100%;
  }
}
@media (max-width: 900px) {
  section {
    padding-top: 90px;
    height: 100%;
  }
}
