body {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Div-btn {
  float: left;
}
#Div-Serch {
  display: block;
  width: 600px;
  background-color: brown;
}
#map {
  height: 400px !important;
  
  width: 100% !important;
 
}
.mr-auto{
padding-left: 45px !important;
height: 45px;
position: sticky;



}

body {
  padding-bottom: 80px; /* Altura do menu */
}
.header {
  position: fixed;
 margin-bottom: 60px;
  padding-bottom: 40px;
  width: 100%;
}
section{
  padding-top: 60px;
}
/*==========Footer==== */
